:root {
  --deep-blue: #0a124c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2px;
}

.button {
  font: inherit;
  border: none;
}

.button:hover {
  cursor: pointer;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

.banner {
  justify-self: start;
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.banner:hover {
  cursor: pointer;
}

.project-item {
  padding: 0.5rem 5rem 0.5rem 5rem;
}

.project-item.selected {
  background: var(--deep-blue);
  color: white;
}

.button.add-project {
  margin: 0.5rem;
  padding: 0.2rem 0.6rem;
  border: none;

  background: black;
  color: #fffcf2;
  letter-spacing: 2px;

  justify-self: center;
}

.button.add-project {
  cursor: pointer;
}

#content {
  background-color: white;
  padding: 0 15rem;

  display: grid;
  grid-template-rows: 200px 10px 100px;
}

.content-header {
  display: grid;
  grid-auto-flow: column;
}

.content-header .project-title {
  place-self: center;
  font-size: 2rem;
}

.button.edit-project {
  /* place-self: center; */
}

.content-body {
  max-width: 300px;
}

.button.add-todo {
  place-self: center;

  margin: 0.5rem;
  padding: 0.2rem 0.4rem;
  border: none;

  background: black;
  color: #fffcf2;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
