:root {
  --btn-submit: #4c9a2a;
  --btn-delete: #8e001f;
  --btn-cancel: grey;
  --deep-blue: #0a124c;
  --p1-color: #d34a47;
  --p2-color: #f0b429;
  --p3-color: #76ba1b;
  --p4-color: #6e6e6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2px;
}

button {
  border: none;
  background: black;

  color: #fffcf2;
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background-color: var(--btn-submit);
}

button.cancel {
  background-color: var(--btn-cancel);
}

button.delete {
  background-color: var(--btn-delete);
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

.sidebar-header {
  display: flex;
}

.banner {
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.banner:hover {
  cursor: pointer;
}

.sidebar-body {
  display: grid;
  grid-auto-rows: 3rem;
}

.sidebar-body > * {
  padding: 0.5rem 1rem 0.5rem 5rem;
}

.project-element.selected {
  background-color: var(--deep-blue);
  color: white;
}

form.create-project {
  display: flex;
  justify-content: space-between;
}

.create-project input {
  font: inherit;
  width: 60%;
}

.create-project button {
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}

.sidebar-footer button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

#content {
  min-height: 0;
  background-color: white;

  display: grid;
  grid-template-rows: 14rem 1fr 3rem;
  row-gap: 2rem;
}

.content-header {
  background-color: #f6eee3;

  display: grid;
}

.content-header > * {
  place-self: center;
  font-size: 2rem;
}

.content-header .project-title:hover {
  cursor: pointer;
}

.content-header .project-title.hide {
  display: none;
}

form.edit-project {
  display: flex;
  justify-content: space-between;
}

form.edit-project.hide {
  display: none;
}

.edit-project label {
  display: contents;
}

.edit-project input {
  align-self: center;
  font: inherit;
  width: 70%;
}

.edit-project .btn-container {
  display: grid;
}

.edit-project button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

.edit-project .delete {
  background-color: #8e001f;
}

.content-body {
  padding: 0 18rem;
  overflow: auto;

  font-size: 1.5rem;

  display: grid;
  grid-auto-rows: 110px;
  grid-gap: 15px;
}

.to-do-element {
  border: 1px solid #ced3da;
  padding-left: 20px;

  display: grid;
  grid-template-columns: 30px 1fr 50px;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "check-box title priority"
    "check-box description priority"
    "check-box due-date priority";
  column-gap: 20px;
}

.to-do-element.p1 {
  border-color: var(--p1-color);
}

.to-do-element.p2 {
  border-color: var(--p2-color);
}

.to-do-element.p3 {
  border-color: var(--p3-color);
}

.to-do-element.p4 {
  border-color: var(--p4-color);
}

.to-do-element.checked {
  opacity: 0.5;
}

.to-do-check-box {
  grid-area: check-box;
}

.p1 .to-do-check-box {
  accent-color: var(--p1-color);
}

.p2 .to-do-check-box {
  accent-color: var(--p2-color);
}

.p3 .to-do-check-box {
  accent-color: var(--p3-color);
}

.p4 .to-do-check-box {
  accent-color: var(--p4-color);
}

.to-do-title {
  grid-area: title;
}

.to-do-description {
  grid-area: description;
  font-size: 1.3rem;
}

.checked .to-do-title,
.checked .to-do-description {
  text-decoration: line-through;
}

.to-do-due-date {
  grid-area: due-date;
  font-size: 1rem;
  color: #5a5a5a;
}

.to-do-priority {
  grid-area: priority;
  color: #fff;

  display: grid;
  place-content: center;
}

.p1 .to-do-priority {
  background-color: var(--p1-color);
}

.p2 .to-do-priority {
  background-color: var(--p2-color);
}

.p3 .to-do-priority {
  background-color: var(--p3-color);
}

.p4 .to-do-priority {
  background-color: var(--p4-color);
}

.content-footer {
  display: flex;
  justify-content: center;
}

.content-footer button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 250px;
  width: 500px;
  padding: 1.5rem;

  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px grey;
}

form.to-do {
  height: 100%;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 10px;
}

.to-do.hide {
  display: none;
}

.to-do * {
  font-family: inherit;
  font-size: 1rem;
}

.to-do label {
  display: contents;
}

.to-do .text-field {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.to-do-title:hover {
  cursor: pointer;
}

.to-do input[name="title"] {
  font-size: 2rem;
}

.to-do textarea[name="description"] {
  resize: none;
}

.to-do .meta-field {
  display: flex;
  justify-content: space-between;
}

.meta-field label {
  display: contents;
}

.meta-field select[name="project"] {
  flex: 0 1 10rem;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta-field input[name="due-date"] {
  flex: 0 1 12rem;
  min-width: 0;
}

.meta-field select[name="priority"] {
  color: #fff;
}

.meta-field select[data-priority="1"],
.meta-field option[value="1"] {
  background-color: var(--p1-color);
}

.meta-field select[data-priority="2"],
.meta-field option[value="2"] {
  background-color: var(--p2-color);
}
.meta-field select[data-priority="3"],
.meta-field option[value="3"] {
  background-color: var(--p3-color);
}

.meta-field select[data-priority="4"],
.meta-field option[value="4"] {
  background-color: var(--p4-color);
}

.to-do .btn-field {
  display: flex;
  justify-content: flex-end;
}

.to-do button {
  margin-left: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

.to-do .delete {
  background: ;
}
