:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 1px;
}

.button {
  font: inherit;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

#sidebar .banner {
  justify-self: start;
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

#sidebar .banner:hover {
  cursor: pointer;
}

.project-item {
  padding: 0.5rem 5rem 0.5rem 5rem;

  display: flex;
  justify-content: space-between;
}

.project-item.selected {
  background: black;
  color: white;
}

.project-item:hover {
  cursor: pointer;
}

.button.add-project {
  margin: 0.5rem;
  padding: 0.2rem 0.6rem;
  border: none;

  background: black;
  color: #fffcf2;
  letter-spacing: 2px;

  justify-self: center;
}

.button.add-project {
  cursor: pointer;
}

#content {
  background-color: white;
  padding: 7rem 15rem;
}

#content .header {
  display: grid;
  grid-auto-flow: column;
}

#content .project-title {
  font-size: 2rem;
}

.button.add-toDo {
  margin: 0.5rem;
  padding: 0.2rem 0.4rem;
  border: none;

  background: black;
  color: #fffcf2;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
