:root {
  --deep-blue: #0a124c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2px;
}

button {
  border: none;
  font: inherit;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

.banner {
  justify-self: start;
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.banner:hover {
  cursor: pointer;
}

.project-item {
  padding: 0.5rem 5rem 0.5rem 5rem;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.project-item.selected {
  background-color: var(--deep-blue);
  color: white;
}

button.add-project {
  margin: 0.5rem;
  padding: 0.2rem 0.6rem;
  border: none;

  background: black;
  color: #fffcf2;
  letter-spacing: 2px;

  justify-self: center;
}

#content {
  background-color: white;
  /* padding: 0 15rem; */

  display: grid;
  grid-template-rows: 14rem auto 100px;
}

.content-header {
  /* background-color: var(--deep-blue); */
  /* color: white; */

  display: grid;
  grid-auto-flow: column;
}

.content-header .project-title {
  /* place-self: end; */
  justify-self: center;
  align-self: end;
  padding-bottom: 5rem;
  font-size: 2rem;
}

button.edit-project {
  background-color: transparent;
}

.content-body {
  padding: 0 15rem;
  max-height: 300px;
  font-size: 1.5rem;
}

button.add-todo {
  place-self: center;

  margin: 0.5rem;
  padding: 0.2rem 0.4rem;
  border: none;

  background: black;
  color: #fffcf2;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
