:root {
  --deep-blue: #0a124c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: black;

  color: #fffcf2;
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2px;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

.sidebar-header {
  display: flex;
}

.banner {
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.banner:hover {
  cursor: pointer;
}

.sidebar-body {
  display: grid;
  grid-auto-rows: 3rem;
}

.sidebar-body > * {
  padding: 0.5rem 1rem 0.5rem 5rem;
}

.project-item.selected {
  background-color: var(--deep-blue);
  color: white;
}

form.create-project {
  display: flex;
  justify-content: space-between;
}

.create-project input {
  font: inherit;
  width: 60%;
}

.create-project button {
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}

button.add-project {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

#content {
  background-color: white;

  display: grid;
  grid-template-rows: 14rem;
}

.content-header {
  background-color: #f6eee3;

  display: grid;
}

.content-header > * {
  place-self: center;
  font-size: 2rem;
}

.content-header .project-title:hover {
  cursor: pointer;
}

.content-header .project-title.hide {
  display: none;
}

form.edit-project {
  display: flex;
  justify-content: space-between;
}

form.edit-project.hide {
  display: none;
}

.edit-project input {
  align-self: center;
  font: inherit;
  width: 70%;
}

.edit-project .btn-container {
  display: grid;
}

.edit-project button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

.edit-project .cancel {
  background-color: grey;
}

.edit-project .delete {
  background-color: #8e001f;
}

.content-body {
  padding: 0 15rem;
  max-height: 300px;
  font-size: 1.5rem;
}

.content-footer {
  display: grid;
}

button.add-todo {
  place-self: center;

  padding: 0.2rem 0.4rem;

  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
