:root {
  --deep-blue: #0a124c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 2px;
}

button {
  border: none;
  background: black;

  color: #fffcf2;
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

button.cancel {
  background-color: grey;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#sidebar {
  background-color: white;

  display: grid;
  align-content: start;
}

.sidebar-header {
  display: flex;
}

.banner {
  margin: 3rem;

  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.banner:hover {
  cursor: pointer;
}

.sidebar-body {
  display: grid;
  grid-auto-rows: 3rem;
}

.sidebar-body > * {
  padding: 0.5rem 1rem 0.5rem 5rem;
}

.project-element.selected {
  background-color: var(--deep-blue);
  color: white;
}

form.create-project {
  display: flex;
  justify-content: space-between;
}

.create-project input {
  font: inherit;
  width: 60%;
}

.create-project button {
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}

.sidebar-footer button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

#content {
  background-color: white;

  display: grid;
  grid-template-rows: 14rem;
}

.content-header {
  background-color: #f6eee3;

  display: grid;
}

.content-header > * {
  place-self: center;
  font-size: 2rem;
}

.content-header .project-title:hover {
  cursor: pointer;
}

.content-header .project-title.hide {
  display: none;
}

form.edit-project {
  display: flex;
  justify-content: space-between;
}

form.edit-project.hide {
  display: none;
}

.edit-project label {
  display: contents;
}

.edit-project input {
  align-self: center;
  font: inherit;
  width: 70%;
}

.edit-project .btn-container {
  display: grid;
}

.edit-project button {
  margin: 0.7rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.5px;
}

.edit-project .delete {
  background-color: #8e001f;
}

.content-body {
  padding: 0 15rem;
  max-height: 300px;
  font-size: 1.5rem;
}

.content-footer {
  display: grid;
}

button.add-todo {
  place-self: center;

  padding: 0.2rem 0.4rem;

  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 250px;
  width: 500px;
  padding: 1rem;
}

form.create-to-do {
  height: 100%;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 10px;
}

.create-to-do * {
  font-family: inherit;
  font-size: 1rem;
}

.create-to-do label {
  display: contents;
}

.create-to-do .text-field {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.create-to-do input[name="title"] {
  font-size: 2rem;
}

.create-to-do textarea[name="description"] {
  resize: none;
}

.create-to-do .meta-field {
  display: flex;
  justify-content: space-between;
}

.create-to-do input[name="due-date"] {
}

.create-to-do .btn-field {
  display: flex;
  justify-content: flex-end;
}
